@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html.dark {
  @apply bg-black text-white
}  
html.dark .box-card{
  background-color: #1d1e1f;
  color:#CFD3DC;
}  
html.dark .el-table{
  --el-table-header-bg-color:#1D1D1D;
  --el-table-tr-bg-color:#1D1D1D;
  --el-table-row-hover-bg-color:#1D1D1D;
  background-color: #1D1D1D;
  color:#CFD3DC;
  --el-table-header-text-color:#CFD3DC;
}  

html.dark .el-dialog{
  --el-dialog-bg-color: #1D1D1D;
  color:#CFD3DC;
}

html.dark .el-button{
  --el-button-bg-color: #1D1D1D;
}
html.dark .el-button+.el-button{
  --el-button-bg-color: #409eff;
}

html.dark .el-dialog__body,.el-dialog__title,.el-button{
  color:#CFD3DC !important;
}



